* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

textarea {
    padding: 1rem;
    font-size: 18px;
    resize: none;
}

.contenedor-principal{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/* Comentarios */

#contenedor-comentarios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

.caja-comentario {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.contenedor-fecha-hora{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.btn-eliminar {
    align-self: flex-end;
}