* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea {
    padding: 1rem;
    font-size: 18px;
    resize: none;
}

.contenedor-principal{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}